<h4>DASHBOARD</h4>
<input type="hidden" id="_tash" value="{{user}}">
<div class="contianer" id="_lister_dash">
	<a href="/listers/new" class="btn btn-success" id="_create_new_lister">Create New Lister</a>
</div>

<div class="col-md-3 well" id="_lister_menu">
	Your Listers
	<hr>
	<ul id="_lister_menu_data" class="_no_pad"></ul>
</div>
<div class="col-md-9 well" id="_display_items">
	<ul id="_lister_data" class="_no_pad"></ul>
</div>

<script src="../socket.io/socket.io.js"></script>
<script src="/javascripts/user_lister.io.js"></script>