<div id="_landing">
	<div id="_welcome">
		<h1>Weclome to DigiLister!</h1>
		<p></p>
	</div>
	<div id="_registration_contianer">
		<a href="/users/register" class="btn btn-success _register_landing _raise">Register</a>
	</div>
</div>