<div class="container _public_browser" id="_list_brower">
	<div class="col-md-3 well" id="_lister_menu">
		Browse Listers
		<hr>
		<ul id="_lister_menu_data" class="_no_pad"></ul>
	</div>
</div>
<div id="_display_lister_public">
	<div class="well" id="_display_items">
		<div id="_lister_header_container">
			<div id="_lister_header"></div>
			<button id="_exit_lister_display">X</button>
		</div>
		<ul id="_lister_data" class="row _no_pad"></ul>
	</div>
</div>
<script src="../socket.io/socket.io.js"></script>
<script src="/javascripts/lister.io.js"></script>



















