<div class="container" id="_new_lister">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    	<h3 class="panel-title">Create New Lister</h3>
			    	{{#if errors}}
			    		{{#each errors}}
			    			<div class="alert alert-danger">
			    				{{msg}}
			    			</div>
			    		{{/each}}
			    	{{/if}}
			 	</div>
			 	<div class="panel-body">
			    	<form role="form" action="/listers/new" method="post">
			    		<input type="hidden" name="company_id" value="{{#if fields}}{{fields.company_id}}{{/if}}{{cid}}">
			    		<div class="form-group">
			    			<input type="text" name="lister_name" id="lister_name" class="form-control input-sm" placeholder="Lister Name">
			    		</div>
	    			    <input type="submit" value="Create lister" class="btn btn-success btn-block">
			    		
		    		</form>
		    	</div>
    		</div>
		</div>
	</div>
</div>