@import url('https://fonts.googleapis.com/css?family=Oswald:700');

body{
	padding-top: 50px;
  	padding-bottom: 20px;
  	font: 16px "Oswald", Helvetica, sans-serif;
    font-weight:bold;
    // letter-spacing: 0.6px;
    // text-shadow: 1px 1px 2px #F41;
}
a{
  color: #00B7FF;
}
h1{
	font-size:44px !important;
}

.jumbotron {
    background-color: rgba(100,100,100,0.1);
}
.well{
	background-color:#fff;
}

._raise{
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
._no_pad{
	padding:0;
}
._no_margin{
	margin:0;
}
.btn-success {
    background-color: #fd772b;
    border-color: #fd772b;
}
.btn-success:hover,.btn-success:active, .btn-success:focus{
	background-color:#fe630a;
	border-color:#fe630a;
}

.btn-primary{
	background-color:#29b329;
	border-color:#29b329;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #04c204;
    border-color: #04c204;
}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
}
#_logo{
	padding:0px;
}
#_landing{
	display:flex;
	justify-content: space-between;
	._register_landing{
		padding:15px 30px;
		font-size:2em;
		align-self: flex-end;
	}
}
#_registration{
	.centered-form{
		margin-top: 60px;
	}

	.centered-form .panel{
		background: rgba(255, 255, 255, 0.8);
		box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
	}
}



footer{
	#_footer_links{
		display: flex;
		flex-direction: row;
		font-size: 0.8em;
		ul{
			list-style-type: none;
		}
		._footer_links{
			align-self:center;
		}
		._footer_links_left{

		}
		._footer_links_right{
			
		}
	}
	#_copy_r{
		font-size: 0.8em;
	}
}